In [2]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\envs\pandas_sh\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\envs\pandas_sh\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd
import numpy as np

df = {} 
for i in range(2008, 2023 + 1):
    df[i] = (pd.read_csv(f'../Flood/FloodData/Flood{i}.csv'))

df[2008]

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,일사(MJ/m2),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2008-01-01 0:00,-7.0,NaN,3.5,270,52,1.8,-16.1,...,NaN,1.0,1.0,Sc,10.0,NaN,NaN,NaN,NaN,NaN
1,108,서울,2008-01-01 1:00,-7.3,NaN,4.9,290,52,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,108,서울,2008-01-01 2:00,-7.5,NaN,4.1,270,52,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,108,서울,2008-01-01 3:00,-7.8,NaN,3.9,270,52,1.6,-17.0,...,NaN,1.0,1.0,Sc,10.0,-7.3,-4.0,-0.5,1.9,2.1
4,108,서울,2008-01-01 4:00,-7.9,NaN,4.0,290,53,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,108,서울,2008-12-31 19:00,-4.1,NaN,3.8,290,46,2.1,-14.0,...,NaN,NaN,NaN,NaN,NaN,-6.5,NaN,NaN,NaN,NaN
8780,108,서울,2008-12-31 20:00,-5.3,NaN,5.4,290,47,1.9,-14.8,...,NaN,NaN,NaN,NaN,NaN,-7.2,NaN,NaN,NaN,NaN
8781,108,서울,2008-12-31 21:00,-6.2,NaN,4.3,320,48,1.8,-15.4,...,NaN,0.0,0.0,NaN,NaN,-8.2,-2.2,-1.3,0.2,1.2
8782,108,서울,2008-12-31 22:00,-6.9,NaN,3.5,340,51,1.9,-15.3,...,NaN,NaN,NaN,NaN,NaN,-8.9,NaN,NaN,NaN,NaN
8783,108,서울,2008-12-31 23:00,-7.3,NaN,1.7,320,54,1.9,-15.0,...,NaN,NaN,NaN,NaN,NaN,-9.7,NaN,NaN,NaN,NaN

In [4]:
filtered_dfs = {}

# Loop through the dataframes in the dictionary and apply the filter
for year, dataframe in df.items():                                     ############################ items? 
    filt = (dataframe["강수량(mm)"] > 0)
    filtered_dfs[year] = dataframe[filt]

# Print the filtered dataframe for 2008 as an example
filtered_dfs[2008]

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,일사(MJ/m2),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
249,108,서울,2008-01-11 9:00,-1.0,2.0,2.7,70,90,5.1,-2.6,...,0.00,10.0,7.0,StNs,8.0,-0.1,-0.1,-0.3,0.4,1.2
252,108,서울,2008-01-11 12:00,-0.2,0.9,1.8,70,85,5.1,-2.4,...,0.02,10.0,7.0,StNs,7.0,NaN,NaN,NaN,NaN,NaN
255,108,서울,2008-01-11 15:00,0.0,1.4,0.4,0,91,5.7,-1.0,...,0.04,10.0,8.0,StNs,5.0,-0.1,-0.1,-0.3,0.6,1.1
258,108,서울,2008-01-11 18:00,0.2,2.1,1.1,50,91,5.7,-0.8,...,0.00,10.0,5.0,StNs,8.0,NaN,NaN,NaN,NaN,NaN
261,108,서울,2008-01-11 21:00,1.7,0.3,2.5,50,77,5.4,-1.6,...,NaN,10.0,4.0,ScAs,10.0,-0.2,0.0,-0.2,0.4,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8502,108,서울,2008-12-20 6:00,3.6,3.5,2.6,360,91,7.2,2.2,...,NaN,10.0,6.0,StNs,8.0,2.7,NaN,NaN,NaN,NaN
8568,108,서울,2008-12-23 0:00,-4.1,0.4,0.6,140,82,3.7,-6.7,...,NaN,9.0,9.0,Sc,10.0,-2.5,NaN,NaN,NaN,NaN
8571,108,서울,2008-12-23 3:00,-4.0,0.6,1.4,20,88,4.0,-5.6,...,NaN,9.0,9.0,Sc,10.0,-1.7,0.1,0.4,1.5,2.6
8574,108,서울,2008-12-23 6:00,-4.5,0.1,1.1,20,89,3.9,-6.0,...,NaN,3.0,3.0,Sc,12.0,-3.0,NaN,NaN,NaN,NaN
8727,108,서울,2008-12-29 15:00,1.1,0.5,2.4,270,86,5.7,-0.9,...,0.36,10.0,7.0,StNs,10.0,2.2,-0.1,-0.4,0.5,1.5

In [5]:
RainBool = pd.read_csv('./fldfct.csv', header=None, skiprows=1)
# 제목을 제외하고 불러오기

RainBool.columns = ['0', '장소', '시간', '발령']
RainBool = RainBool[['장소', '시간', '발령']]
RainBool

# 크롤링으로 좌표구해와야하나? -> 서울안에 들어간거만 추출하기

                    장소                시간        발령
0        한강 홍천군(홍천교)지점  2022-09-06 11:20  홍수주의보 해제
1        한강 포천시(영평교)지점  2022-09-06 11:20  홍수주의보 해제
2        한강 홍천군(홍천교)지점  2022-09-05 21:30  홍수주의보 발령
3        한강 포천시(영평교)지점  2022-09-05 17:00  홍수주의보 발령
4        한강 괴산군(목도교)지점  2022-08-12 06:50   홍수경보 해제
..                 ...               ...       ...
192      한탄강 전곡(사랑교)지점  2008-07-24 18:40  홍수주의보 발령
193       한강 성남(대곡교)지점  2008-07-24 15:20  홍수주의보 해제
194  한강 탄천유역 성남(대곡교)지점  2008-07-24 12:20  홍수주의보 발령
195       한강 성남(대곡교)지점  2008-07-24 08:30  홍수주의보 해제
196  한강 탄천유역 성남(대곡교)지점  2008-07-24 06:30  홍수주의보 발령

[197 rows x 3 columns]

In [9]:
df2 = pd.DataFrame(RainBool)

target_word = '해제'
# target_word2 = '한강'

# Define a custom filtering function
# any() : 하나라도 True인게 있으면 True
# all() : 모두 True여야 True 반환
def meets_criteria(row):
    contains_target_word = any(target_word in str(cell) for cell in row)
    #contains_target_word2 = any(target_word2 in str(cell) for cell in row)

    return not contains_target_word #and contains_target_word2

# Filter rows meeting the criteria
filtered_df2 = df2[df2.apply(meets_criteria, axis=1)]

filtered_df2

                     장소                시간         발령
2         한강 홍천군(홍천교)지점  2022-09-05 21:30   홍수주의보 발령
3         한강 포천시(영평교)지점  2022-09-05 17:00   홍수주의보 발령
8         한강 평창군(평창교)지점  2022-08-11 09:10   홍수주의보 발령
9         한강 괴산군(목도교)지점  2022-08-10 22:50  홍수경보 변경발령
10        한강 괴산군(목도교)지점  2022-08-10 21:10   홍수주의보 발령
..                  ...               ...        ...
189  한강(탄천)유역 성남(대곡교)지점  2009-07-12 07:20    홍수경보 발령
190  한강(탄천)유역 성남(대곡교)지점  2009-07-12 07:00   홍수주의보 발령
192       한탄강 전곡(사랑교)지점  2008-07-24 18:40   홍수주의보 발령
194   한강 탄천유역 성남(대곡교)지점  2008-07-24 12:20   홍수주의보 발령
196   한강 탄천유역 성남(대곡교)지점  2008-07-24 06:30   홍수주의보 발령

[112 rows x 3 columns]

In [22]:
! pip install selenium

Collecting selenium
  Downloading selenium-4.9.1-py3-none-any.whl (6.6 MB)
                                              0.0/6.6 MB ? eta -:--:--
                                              0.0/6.6 MB ? eta -:--:--
                                              0.0/6.6 MB 640.0 kB/s eta 0:00:11
                                              0.0/6.6 MB 487.6 kB/s eta 0:00:14
     -                                        0.2/6.6 MB 1.2 MB/s eta 0:00:06
     --                                       0.4/6.6 MB 2.0 MB/s eta 0:00:04
     ---                                      0.5/6.6 MB 2.2 MB/s eta 0:00:03
     ----                                     0.7/6.6 MB 2.5 MB/s eta 0:00:03
     -----                                    0.9/6.6 MB 2.9 MB/s eta 0:00:02
     -----                                    0.9/6.6 MB 2.9 MB/s eta 0:00:02
     -----                                    0.9/6.6 MB 2.2 MB/s eta 0:00:03
     -----                                    0.9/6.6 MB 2.2 MB/s eta 0:00:03
     ------                                   1.1/6.6 MB 2.2 MB/s eta 0:00:03
     -------                                  1.2/6.6 MB 2.2 MB/s eta 0:00:03
     -------                                  1.2/6.6 MB 2.3 MB/s eta 0:00:03
     --------                                 1.4/6.6 MB 2.3 MB/s eta 0:00:03
     ----------                               1.8/6.6 MB 2.6 MB/s eta 0:00:02
     -------------                            2.1/6.6 MB 3.0 MB/s eta 0:00:02
     --------------                           2.4/6.6 MB 3.2 MB/s eta 0:00:02
     ---------------                          2.5/6.6 MB 3.1 MB/s eta 0:00:02
     ----------------                         2.7/6.6 MB 3.2 MB/s eta 0:00:02
     ----------------                         2.8/6.6 MB 3.1 MB/s eta 0:00:02
     ------------------                       3.1/6.6 MB 3.3 MB/s eta 0:00:02
     -------------------                      3.3/6.6 MB 3.4 MB/s eta 0:00:01
     ---------------------                    3.5/6.6 MB 3.4 MB/s eta 0:00:01
     ----------------------                   3.7/6.6 MB 3.5 MB/s eta 0:00:01
     ------------------------                 4.0/6.6 MB 3.6 MB/s eta 0:00:01
     --------------------------               4.3/6.6 MB 3.7 MB/s eta 0:00:01
     ----------------------------             4.6/6.6 MB 3.9 MB/s eta 0:00:01
     ------------------------------           5.1/6.6 MB 4.1 MB/s eta 0:00:01
     --------------------------------         5.3/6.6 MB 4.3 MB/s eta 0:00:01
     ----------------------------------       5.7/6.6 MB 4.3 MB/s eta 0:00:01
     -----------------------------------      5.8/6.6 MB 4.2 MB/s eta 0:00:01
     -------------------------------------    6.1/6.6 MB 4.3 MB/s eta 0:00:01
     -------------------------------------    6.2/6.6 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------  6.4/6.6 MB 4.2 MB/s eta 0:00:01
     ---------------------------------------- 6.6/6.6 MB 4.2 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\envs\pandas_sh\lib\site-packages (from selenium) (2.0.2)
Collecting trio~=0.17 (from selenium)
  Using cached trio-0.22.0-py3-none-any.whl (384 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Using cached trio_websocket-0.10.2-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\envs\pandas_sh\lib\site-packages (from selenium) (2023.5.7)
Collecting attrs>=19.2.0 (from trio~=0.17->selenium)
  Using cached attrs-23.1.0-py3-none-any.whl (61 kB)
Collecting sortedcontainers (from trio~=0.17->selenium)
  Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Collecting async-generator>=1.9 (from trio~=0.17->selenium)
  Using cached async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: idna in c:\programdata\anaconda3\envs\pandas_sh\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Using cached outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting sniffio (from trio~=0.17->selenium)
  Using cached sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting cffi>=1.14 (from trio~=0.17->selenium)
  Using cached cffi-1.15.1-cp311-cp311-win_amd64.whl (179 kB)
Collecting exceptiongroup (from trio-websocket~=0.9->selenium)
  Using cached exceptiongroup-1.1.1-py3-none-any.whl (14 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Using cached wsproto-1.2.0-py3-none-any.whl (24 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Using cached PySocks-1.7.1-py3-none-any.whl (16 kB)
Collecting pycparser (from cffi>=1.14->trio~=0.17->selenium)
  Using cached pycparser-2.21-py2.py3-none-any.whl (118 kB)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: sortedcontainers, sniffio, pysocks, pycparser, h11, exceptiongroup, attrs, async-generator, wsproto, outcome, cffi, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 attrs-23.1.0 cffi-1.15.1 exceptiongroup-1.1.1 h11-0.14.0 outcome-1.2.0 pycparser-2.21 pysocks-1.7.1 selenium-4.9.1 sniffio-1.3.0 sortedcontainers-2.4.0 trio-0.22.0 trio-websocket-0.10.2 wsproto-1.2.0

In [6]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

browser = webdriver.Chrome("./chromedriver.exe")
browser.get('http://google.com')

# Read the CSV file
file_path = "C:/projects_pandas/GongAndPaper/Flood/9999Flood.csv"
df_area = pd.read_csv(file_path)

# Access the cell value at row=1 and column=1 (0-indexed)
num_rows = df_area.shape[0]

area_value = df_area.iloc[1, 1]
elem_search = browser.find_element(By.XPATH, '//*[@id="APjFqb"]')
elem_search.send_keys(area_value)



'''
# Initialize the index variable
i = 0

# Loop through each row
while i < num_rows:
    area_value = df_area.iloc[i, 1]
    elem_search = browser.find_element(By.XPATH, '//*[@id="APjFqb"]')
    elem_search.send_keys(area_value)
    print(area_value)
    i += 1
'''

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13836\1325460243.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome("./chromedriver.exe")

NameError: name 'pd' is not defined

In [7]:

filtered_dfs[2008]['일시']= filtered_dfs[2008]['일시'].astype('str')
dates = filtered_dfs[2008]['일시'].str.split(' ')




filtered_df2['시간']= filtered_df2['시간'].astype('str')
dates2 = filtered_df2['시간'].str.split(' ')


if dates.str.get(0) == dates2.str.get(0) :
    filtered_dfs['flood'] == True
else :
    filtered_dfs['flood'] == False
    
filtered_dfs['flood'] 



def compare_dates(row):
    date1 = row['일시']
    date2 = row['시간']
    
    if date1 == date2:
        return True
    else:
        return False

# Convert the date columns to string
filtered_dfs[2008]['일시'] = filtered_dfs[2008]['일시'].astype('str')
filtered_df2['시간'] = filtered_df2['시간'].astype('str')

# Create a temporary DataFrame with columns from both DataFrames
temp_df = pd.DataFrame()
temp_df['일시'] = dates.str.get(0) 
temp_df['시간'] = filtered_df2['시간']





# Apply the custom function to compare dates
temp_df['flood'] = temp_df.apply(compare_dates, axis=1)

# Assign the 'flood' column to the original DataFrame
filtered_dfs[2008]['flood'] = temp_df['flood']


Ture값만 출력
mask1 = (filtered_dfs[2008].flood == True)
df_flood = filtered_dfs[2008].loc[mask1, :]
print(df_flood)
'''

"\nfiltered_dfs[2008]['일시']= filtered_dfs[2008]['일시'].astype('str')\ndates = filtered_dfs[2008]['일시'].str.split(' ')\n\n\nfiltered_df2['시간']= filtered_df2['시간'].astype('str')\ndates2 = filtered_df2['시간'].str.split(' ')\n\n\nif dates.str.get(0) == dates2.str.get(0) :\n    filtered_dfs['flood'] == True\nelse :\n    filtered_dfs['flood'] == False\n    \nfiltered_dfs['flood'] \n\n\n\ndef compare_dates(row):\n    date1 = row['일시']\n    date2 = row['시간']\n    \n    if date1 == date2:\n        return True\n    else:\n        return False\n\n# Convert the date columns to string\nfiltered_dfs[2008]['일시'] = filtered_dfs[2008]['일시'].astype('str')\nfiltered_df2['시간'] = filtered_df2['시간'].astype('str')\n\n# Create a temporary DataFrame with columns from both DataFrames\ntemp_df = pd.DataFrame()\ntemp_df['일시'] = dates.str.get(0) \ntemp_df['시간'] = filtered_df2['시간']\n\n\n\n\n\n# Apply the custom function to compare dates\ntemp_df['flood'] = temp_df.apply(compare_dates, axis=1)\n\n# Assign the 'flood' column to the original DataFrame\nfiltered_dfs[2008]['flood'] = temp_df['flood']\n\n\nTure값만 출력\nmask1 = (filtered_dfs[2008].flood == True)\ndf_flood = filtered_dfs[2008].loc[mask1, :]\nprint(df_flood)\n"

In [11]:
import calendar

def get_number_of_days(year, month):
    _, num_days = calendar.monthrange(year, month)
    return num_days

year = 2020
month = 2
days_in_month = get_number_of_days(year, month)
print(f"Number of days in {calendar.month_name[month]} {year}: {days_in_month}")

Number of days in February 2020: 29